{% extends 'base.html.twig' %}

{% block title %}Prestataire{% endblock %}

{% block body %}
    <h1>Prestataire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPrestataire</th>
                <td>{{ prestataire.idPrestataire }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ prestataire.libelle }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ prestataire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ prestataire.prenom }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ prestataire.localisation }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ prestataire.email }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ prestataire.contact }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ prestataire.civilite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prestataire_index') }}">back to list</a>

    <a href="{{ path('prestataire_edit', {'idPrestataire': prestataire.idPrestataire}) }}">edit</a>

    {{ include('prestataire/_delete_form.html.twig') }}
{% endblock %}
