{% extends 'base.html.twig' %}

{% block title %}Souche{% endblock %}

{% block body %}
    <h1>Souche</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSouche</th>
                <td>{{ souche.idSouche }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ souche.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('souche_index') }}">back to list</a>

    <a href="{{ path('souche_edit', {'idSouche': souche.idSouche}) }}">edit</a>

    {{ include('souche/_delete_form.html.twig') }}
{% endblock %}
