{% extends 'base.html.twig' %}

{% block title %}Fournisseur index{% endblock %}

{% block body %}
    <h1>Fournisseur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdFournisseur</th>
                <th>LibelleFournisseur</th>
                <th>Localisation</th>
                <th>Email</th>
                <th>Contact</th>
                <th>NumeroCompteBanquaire</th>
                <th>NumeroRegistreCommerce</th>
                <th>NomPdg</th>
                <th>TypeSouche</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.idFournisseur }}</td>
                <td>{{ fournisseur.libelleFournisseur }}</td>
                <td>{{ fournisseur.localisation }}</td>
                <td>{{ fournisseur.email }}</td>
                <td>{{ fournisseur.contact }}</td>
                <td>{{ fournisseur.numeroCompteBanquaire }}</td>
                <td>{{ fournisseur.numeroRegistreCommerce }}</td>
                <td>{{ fournisseur.nomPdg }}</td>
                <td>{{ fournisseur.typeSouche }}</td>
                <td>
                    <a href="{{ path('fournisseur_show', {'idFournisseur': fournisseur.idFournisseur}) }}">show</a>
                    <a href="{{ path('fournisseur_edit', {'idFournisseur': fournisseur.idFournisseur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fournisseur_new') }}">Create new</a>
{% endblock %}
